VMQ_TIMEZONE=Asia/Shanghai
VMQ_FRONTEND_PORT=3006
VMQ_BACKEND_PORT=8000
VMQ_FRONTEND_URL=http://localhost:3006
ADMIN_USERNAME=replace-with-an-admin-username
ADMIN_PASSWORD=replace-with-a-long-random-password
VMQ_SESSION_SECURE_COOKIE=false

VMQ_DB_NAME=vmq
VMQ_DB_USERNAME=vmqfox
VMQ_DB_PASSWORD=replace-with-a-random-password
VMQ_DB_ROOT_PASSWORD=replace-with-a-different-random-password

VMQ_APP_DEBUG=false
VMQ_DB_DEBUG=false
